<extend name="Public:base" />
<block name="title">ECSHOP 管理中心 - 商品添加 </block>
<block name="header">
    <span class="action-span"><a href="{:U('index')}">用户名列表</a></span>
    <span class="action-span1"><a href="{:U('index/index')}">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 用户添加 </span>
    <div style="clear:both"></div>
</block>
<block name="body">
    <div class="tab-div">
        <div id="tabbar-div">
            <p>
                <span class="tab-front" id="general-tab">通用信息</span>
            </p>
        </div>
        <div id="tabbody-div">
            <form enctype="multipart/form-data" action="" method="post">
                <table width="90%" id="general-table" align="center">
                    <tr>
                        <td class="label">属性名称：</td>
                        <td><input type="text" name="attr_name" value="{$info.attr_name}"size="30" />
                            <span class="require-field">*</span></td>
                    </tr>
                    <tr>
                        <td class="label">所属类型：</td>
                        <td>
                        <select name="type_id" >
                            <volist name="type" id="vo">
                                <option value="{$vo.id}" <eq name="info.type_id" value="$vo.id">selected='selected'</eq>>{$vo.type_name}</option>
                            </volist>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">属性类型：</td>
                        <td>
                            <input type="radio" name="attr_type" value="1" <eq name="info.attr_type" value="1">checked="checked"</eq>>唯一
                            <input type="radio" name="attr_type" value="2" <eq name="info.attr_type" value="2">checked="checked"</eq>>单选
                        </td>
                    </tr>

                    <tr>
                        <td class="label">属性录入方式：</td>
                        <td>
                            <input type="radio" name="attr_input_type" value="1" <eq name="info.attr_input_type" value="1">checked="checked"</eq>>手工输入
                            <input type="radio" name="attr_input_type" value="2" <eq name="info.attr_input_type" value="2">checked="checked"</eq>>列表选择
                        </td>
                    </tr>

                    <tr>
                        <td class="label">默认值：</td>
                        <td>
                            <textarea name="attr_value">{$info.attr_value}</textarea>{默认值为列表选择时必须输入，并且多个值之间用逗号隔开}
                        </td>
                    </tr>
                </table>
                <div class="button-div">
                    <input type="hidden" name="id" value="{$info.id}">
                    <input type="submit" value=" 确定 " class="button"/>
                    <input type="reset" value=" 重置 " class="button" />
                </div>
            </form>
        </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript">
        <eq name="info.attr_input_type" value="1">
            $("textarea[name='attr_value']").attr('disabled',true);
        </eq>
        $("input[name='attr_input_type']").change(function(){
            var value = $(this).val();
            if(value == 1){
                $("textarea[name='attr_value']").attr('disabled',true).val('');
            }else{
                $("textarea[name='attr_value']").attr('disabled',false).val('');
            }
        });

    </script>
</block>